header {
  height: 60px;
  background-color: rgb(44, 62, 80);
}

#jumbotron {
  height: 200px;
  background-color: rgb(26, 188, 156);
}

.card {
  background-color: violet;
  height: 200px;
}

#about-me {
  background-color: rgb(26, 188, 156);
}
